# Service port
API_PORT=#number
USER_MICROSERVICE_TCP_PORT=#number
CATEGORY_MICROSERVICE_TCP_PORT=#number
INGREDIENT_MICROSERVICE_TCP_PORT=#number
PRODUCT_MICROSERVICE_TCP_PORT=#number

# Socket config
SOCKET_MICROSERVICE_TCP_PORT=#number
SOCKET_PORT=#number
SOCKET_PING_INTERVAL=#number #millisecond
SOCKET_PING_TIMEOUT=#number #millisecond

# Cors white list.
ADMIN_ORIGIN_CORS=#string #url
SALE_ORIGIN_CORS=#string #url

# localhost
LOCALHOST=#string

# Redis config
REDIS_SERVER_HOST=${LOCALHOST}
REDIS_SERVER_PORT=#number
BULLMQ_SERVER_HOST=${REDIS_SERVER_HOST}
BULLMQ_SERVER_PORT=${REDIS_SERVER_PORT}

# Email config
SMPT_HOST=#string #email
SMPT_PORT=#number
SMPT_MAIL=#string #email #your-email
SMPT_APP_PASS=#string
EMAIL_TEMPLATES=#string
SYSTEM_ADMIN_EMAIL=#string #email

# Rate limiting
THROTTLE_TTL=#number
THROTTLE_LIMIT=#number

# Event source options.
AGGREGATES_TABLE_NAME=#string
SCHEMA_NAME=#string
EVENTS_TABLE_NAME=#string
SNAPSHOT_TABLE_NAME=#string

# Database connector url.
USER=#string # Database password.
DATABASE_URL=#string
DATABASE_URL_REPLICA_ADMIN=#string
DATABASE_URL_REPLICA_CUSTOMER=#string
DATABASE_URL_REPLICA_EMPLOYEE=#string
EVENT_SOURCE_DATABASE_URL=#string